TRACEABILITY_API_BASE_URL=http://127.0.0.1:8000
SQLSERVER_HOST=
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=eGMF
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_ENCRYPT=true
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
SQLQUERY=select top (1) mp.RFID, kh.TenNgan, so.PO, so.ProductCode, kh.MaKhachHang from [eGMF].[dbo].[CUTTING_TemBarcode_TachCay_RFID_Mapping] mp inner join [eGMF].[dbo].[Bravo_DonDatHangBan_Master] so on mp.po = so.po inner join [dbo].[Lib_KhachHang] kh on so.CustomerCode = kh.MaKhachHang where mp.RFID = @RFID
SQLQUERY_IMAGE=select top (2) [Id], [RFID], [Url], [RFID_Hex] from [eGMF].[dbo].[Tracking_RFID_Master_Image] where [RFID] = @RFID order by [Id]
IMAGE_ALLOWED_HOST=10.8.0.72:9231
IMAGE_TIMEOUT_SECONDS=15
